body {
   background-color: beige;

}

h1 {
   text-align: center;
   size: 32px;
   color: darkred;
   padding: 20px;
}

h2 {
   size: 24px;
   color: 5f5e5e;
   padding: 15px;
}

img {
   border-radius: 5px;
   width: 100%;
   padding: 15px;
   align-content: center;
   
}

form {
   ...........
}

............
background-color: f1f1f1;
   color: #333;
   border: 1px solid #ccc;
   border: 1px solid #0080ff;
   outline: none;