body {
   background-color: faf0dc;

}

h1 {
   text-align: center;
   size: 32px;
   color: a4161a;
   padding: 20px;
}

h2 {
   size: 24px;
   color: 5f5e5e;
   padding: 15px;
}

img {
   border: 1px solid #ccc;
   width: 20%;
   padding: 10px;
   background-color: f1f1f1;
   color: #333;
   border: 1px solid #ccc;
   border: 1px solid #0080ff;
   outline: none;
}

form {
   ...........
}

............